/*===========CSS RESET START============*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*===========COMMON STYLES START============*/
*,
::before,
::after {
  box-sizing: border-box;
}
a,
span {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #24262e;
  color: #fff;
  font-style: normal;
  font-size: 16px;
  line-height: 1.75;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
picture {
  display: inline-block;
}
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/*===========COMMON STYLES END============*/
/*===========HEADER STYLES START============*/

.main-title {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

/*===========MAIN STYLES START============*/

.tabs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-top: 1px solid #2e313a;
}

.tab-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding: 10px;
  flex: 1;
  background-color: #24262e;
}
.tab-item > span {
  color: #ffc538;
  margin-left: 10px;
}

.active {
  background-color: #292b33;
}

.arrow::before{
content: "\1F815";
padding-right: 3px;
}
.arrow-down::before{
  content: "\1F817";
  padding-right: 3px;
}
.totall-info {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #c6c7c7;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.count {
  font-size: 26px;
}
.confirmed {
  color: #ffc538;
}
.deaths {
  color: #fafafa;
}
.recovered {
  color: #00ba80;
}
.existing {
  color: #f25454;
}
.region{
  color:#999fb2;
  text-align: left;
}
.search-form {
  width: 50%;
  padding: 16px 0;
}
.search-input {
  width: 100%;
  padding: 8px 16px;
  background-color: #292b33;
  border: 1px solid #2e313a;
}
.table{
  width: 100%;
}
.data-info th, .data-table td{
  border-bottom: 1px solid #2e313a;
}

.data-info{
  text-align: left;
}
.row tr:hover{
  background-color: #292b33;
}
.data-info th, .data-table td{
  padding: 15px 0;
}
.data-table td{
  width: 140px;
}
[data-sorting="true"][data-order="1"]::after{
content: '\1F815';
padding-left: 3px;
}
[data-sorting="true"][data-order="-1"]::after{
  content: '\1F817';
  padding-left: 3px;
  }

/* ========MODAL-WINDOW========== */
body.show-modal{
  overflow: hidden;
}
body.show-modal>.modal-backdrop{
  visibility: visible;
}
  .modal-backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    visibility: hidden;
}
.modal-window{
    padding: 30px;
    margin: auto;
    position: relative;
    width: 60%;
    background: #24262e;

}
.modal-content{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #2e313a;
}
.close-modal-btn{
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  padding: 0 10px; 
}
.modal-title{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  
}